
  <style>
   table th, td {
     border: 1px solid;
     padding: 10px;
   }
   th{
     color: white;
     background-color: rgb(18, 21, 216);
   }
   table {
     width: 80%;
     border-collapse: collapse;
     margin-left: 10%;
   }
   </style>
<table>
    <th>
    <td> Amount</td>
    <td> Transaction</td>
    <td> DateTime</td>
    <td> Receipt Type</td>

    </th>
    {%for Receipt in receipts%}
     <tr>
        <td>{{ Receipt.amount}}</td>
        <td>{{ Receipt.transaction}}</td>
        <td>{{ Receipt.date_time}}</td>
        <td>{{ Receipt.receipt_type}}</td>
    
     </tr>
     {% endfor %}
    </table>